@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri);
@import url(https://fonts.googleapis.com/css?family=Arapey);

body {
	font-family: 'Arapey', serif;
	text-align: center;
}

header {
}

a {
	color: #71a844;;
	text-decoration: none;
}

nav a {
	color: #4f4f4f
	padding: 60px;
}

img {
	width: 200px;
}

section {
}

#slogan {
	font-size: 40px;
	text-transform: uppercase;
}

h2, h3 {
	color: #71a844;
	font-size: 30px;
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: lighter;
}

.left {
	text-align: left;
}

.right{
	img-align: right;
}

.images{
	width: 40em;
	position: center;
}

p, ul {
	color: #4f4f4f;
 	font-size: 20px;
 	line-height: 1em;
 	line-length: 20em;
 }


hr {
	color: #4f4;
}

