@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri);
@import url(https://fonts.googleapis.com/css?family=Arapey);
* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-family: 'Arapey', serif;
	text-align: center;
}

header {width: 1200px;margin: auto;}

a {
	color: #71a844;
	text-decoration: none;
}

nav a {
	color: #4f4f4f;
	padding: 60px;
}

img {
	width: 200px;
}

section {
	border-top:1px solid;
	padding: 5em 0;
}

#slogan {
	font-size: 40px;
	text-transform: uppercase;
}

h2, h3 {
	color: #71a844;
	font-size: 30px;
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: lighter;
}

.left {
	text-align: left;
	/* float: left; */
}

.right{
	img-align: right;
}

.images{
	width: 100%;
	position: center;
}

p, ul {
	color: #4f4f4f;
	font-size: 20px;
	line-height: 1em;
	width: 20em;
	margin: 1em auto 0;
	list-style-type: none;
}


hr {
	border: 1px solid #4f4;
}

