@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri);
@import url(https://fonts.googleapis.com/css?family=Arapey);
* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-family: 'Arapey', serif;
	text-align: center;
	font size: 12px;
}

#Wrapper {
	background-color: #71a844;
	width: 960px;
}

header {
	width: 1200px;
	margin: auto;
}

a {
	color: #71a844;
	text-decoration: none;
}

nav a {
	color: #4f4f4f;
	padding: 60px;
}

img {
	width: 180px;
}

section {
	border-top: 3px dotted;
}

h2, h3 {
	color: #71a844;
	font-size: 50px;
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: lighter;
}

p, ul {
	color: #4f4f4f;
	font-size: 20px;
	line-height: 1em;
	width: 30em;
	margin: 1em auto 0;
	list-style-type: none;
	padding: .8em 0;

.left {
	text-align: left;
	/* float: left; */
}

.right{
	img-align: right;
}

.images{
	width: 500px;
	position: center;
}

.specialp{
	font-weight: bold;
	font-size: 30px;
}

#slogan {
	font-size: 60px;
	text-transform: uppercase;
	color: #71a844;
	text-align: bottom;
	background: url(images/mainimage.png) center repeat-x;
	padding: 5em 0;

}

#about{

}

#flavors{

}

#events{
	background-color: rgba(242,157,51, 0.6)
}

#contact {
	background: url(images/pomegranate.png) left no-repeat; 
	border: none;
}

#footer {
	background-color: #71a844;
	color: #000;
	width: 100%;
	border: none;
}

.bottom {
	font-size: 12px
	font-weight: bold;
	color: #fff;
}

.space {
 	padding: 1em;
 }




