body {
	background-color: white;
	text-align: center;
}
 
h1{color: #FA703C;
		font-family: Arial, sans-serif;
		font-weight: bold;
}

h2{color: #4F4F4F;
   font-family: Arial, sans-serif;
   font-size: 30px;
 }

 #second{
		font-style: italic;
	}

h3{color:#FA703C;
   font-family: Arial, sans-serif;
   font-weight: bold;
   font-size: 30px;
	
	}

p {color: #4F4F4F;
   font-family: Arial, sans-serif;
   font-size: 24px;
}
	.important{
		font-size:24px;
		font-style: italic;
	}